[Unit]
Description=Discrete graphics on
Before=sleep.target
Wants=local-system-hibernate.service
Before=local-system-hibernate.service

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/gpu_poweroff.sh 1

[Install]
WantedBy=sleep.target
