[Unit]
Description=Discrete graphics off
After=suspend.target
Wants=local-system-resume.service
Before=local-system-resume.service

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/gpu_poweroff.sh 0

[Install]
WantedBy=suspend.target
